<%= include partials/header %>


	<div class="container-fluid">
		<div class="row">



			<div class="homepage">
				<img src="/images/trailz_logo.png"/>
				<% if(user) { %>
				<h1><strong>Hello, <b><%= typeof user.name === "string" ? user.name : "Unknown" %></b>.</strong></h1>
				<% } %>
				<h2>All about Levi Ross.</h2>
				<h4>Levi is a musician and world-traveler. </h4>
			</div>



		</div>
	</div>



</body>
</html>