<% include header %>



	
		
	<% for (var i = 0; i < reviews.length; i++) { %>
<div class="listBackground">
	<br>
		<h3><%= reviews[i].place.name %> - <%= reviews[i].content %></h3>
		

</div>
				
	<% } %>
	





</body>
</html>