<%= include partials/header %>



	
		
	<% for (var i = 0; i < reviewsArray.length; i++) { %>
<div class="listBackgroundFinal">
	<br></br>
		<h3><%= reviewsArray[i].place.name %> - <%= reviewsArray[i].content %></h3>
</div>			
	<% } %>
	





</body>
</html>