<% include header %>





<div class="listBackground2">
	<% for (var i = 0; i < place.length; i++) { %>

	<ul>
	<li id="favlist"><a href="/show/<%= place[i].name %>"><%= place[i].name %></a></li>
	</ul>
	<% } %>

</div>



	</body>
</html>	