<%= include partials/header %>


<div class="container-fluid">

	<div class="row">
		<div class="col-md-3 col-centered"><img src="http://i.imgur.com/50fb4RS.png"/></div>
	</div>	
	<div class="row">
		<div class="col-md-2 col-md-offset-5">			
			<% if(user) { %>
			<h1><strong>Hello, <b><%= typeof user.name === "string" ? user.name : "Unknown" %></b>.</strong></h1>
			<% } %></div>
		</div>	
		<div class="row">
			<div class="col-md-6 col-md-offset-3">			
				<h2> Search all countries of the world and discover them quickly and easily.</h2>
				<h4>Find out how to call the people of that country and even place a marker anywhere on the world map and leave an experience about that place. Trailz is the way to keep your journey and show your friends and family how much your explored the world!</h4>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
					<h4>Download Trailz from Google Play or from Apple App Store and get started on planning discovering the coolest spots from around the globe.</h4><br></br>
					<img src="http://i.imgur.com/AB9usWw.png"/><br></br>
					<img src="http://i.imgur.com/38RvssS.png"/>
				</div>
				<div class="col-md-2"><img src="http://i.imgur.com/hOYeAbJ.png"/></div>
			</div>
		</div>

</div>

</body>
</html>





