<% include header %>



<div class="listBackground3">
	<ol>
		<h3>My Expiriences in <%= thisCountry %></h3><br></br>
		<% for (var i = 0; i < reviewsArray.length; i++) { %>
		<li><%= reviewsArray[i].content %></li>
		<% } %>
	</ol>
</div>





</body>
</html>