<%= include partials/header %>



			<% for (var i = 0; i < countryArray.length; i++) { %>
		<div class="listBackground">
			<h2><a href="/show/<%= countryArray[i].name %>">
				<%= countryArray[i].name %>
			</a></h2>
		</div>
			<% } %>




</body>
</html>