<%= include header %>



		<div class="listBackground">
			<% for (var i = 0; i < test.length; i++) { %>
			<h2><a href="/show/<%= test[i].name %>">
				<%= test[i].name %>
			</a></h2>
			<% } %>

		</div>





	</body>
</html>