<% include partials/header %>


	<div class="signup">
	    <h1>Sign up!</h1>
	    <hr>
	    <form class="form" method="post" action="/signup">
	        <input type="text" class="form-control" placeholder="Enter Your Email" name="email">
	        <br><br>
	        <input type="text" class="form-control" placeholder="Enter Your Name" name="name">
	        <br><br>
	        <input type="password" class="form-control" placeholder="Choose a Password" name="password">
	        <br><br>
	        <input type="password" class="form-control" placeholder="Re-type Your Password" name="confirmed">
	        <br><br>
	        <input type="submit" value="Sign Up" class="btn btn-primary">
	    </form>
	</div>













	</body>

</html>